<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Acerca de mi</h1>
                <p>
                    Soy un Ingeniero Electrónico graduado del Instituto Tecnológico de Toluca, México. Mi área de trabajo es la automatización insdustrial 
                    por lo que tengo experiencia en progrmacion de PLCs, HMIs, variadores de frecuencia, sistemas de visión artificial (Keyence), entre otros.
                </p>
                <p>
                    Constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer. Asi que he decidido utilizar
                    mis conocimientos en Python para realizar algunas aplicaciones que he añadido en esta   página, la cual también la he realizado 
                    usando Python y por supuesto HTML y CSS.
                </p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras!</h1>
                <p>Solo enviame un correo <a href="#contacto" class="orange">pinchando aqui</a></p>
            </div>
        </div>
    </div>
</div>