<div class="center white-bg">
    <div class="conten">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Otros conocimientos</h1>
                <h3>Diseño CAD</h3>
                <h4>SolidWORKS</h4>
                <ul>
                    <li>Modelado de piezas y ensamblajes</li>
                    <li>Dibujos de SolidWORKS</li>
                    <li>Chapa Metálica</li>
                    <li>SolidWORKS Routing(Básico)</li>
                    <li>Gestión de Archivos</li>
                </ul>
                <h4>ePLAN</h4>
                <ul>
                    <li>Creación de proyectos</li>
                    <li>Dibujo de diagramas de circuito básico</li>
                    <li>Biblioteca de símbolos en estandar NFPA</li>
                </ul>
            </div>
            <div class="right padded">
                <h1>Aprendiendo</h1>
                <ul>
                    <li>Pandas</li>
                    <li>Microsoft Power BI</li>
                    <li>JavaScript</li>
                    <li>React</li>
                </ul>
            </div>
        </div>
    </div>
</div>