<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>¿Aún no estas convencido?</h1>
            <h3>Mira lo que he contruido</h3>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Correoapp</h3>
                <p>Construi esta aplicación que envía correos utilizando la API de Sendgrid.</p>
                <a class="orange" href="#">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de clientes</h3>
                <p>Contrui esta aplicación para gestionar mis clientes utilizando la API de Sendgrid.</p>
                <a class="orange" href="{{ url_for('static', filename='libreta-clientes.exe') }}">Link aqui</a>
            </div>
            <div class="card third">
                <h3>Gestor de tareas</h3>
                <p>Construí esta aplicación para gestionar mis tareas utilizando la API de Sendgrid.</p>
                <a class="orange" href="{{ url_for('static', filename='db.exe') }}">Link aqui</a>
            </div>
        </div>
    </div>
</div>