<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Acerca de mi</h1>
                <h1>
                    Soy ingeniero electrónico
                </h1>
                <p>
                    Soy programador de PLC's y HMI's Allen Bradyly, Siemens y Delta(solo HMI's).
                    También he trabajado con equipos RFID y Sistemas de visión artificial.
                </p>
                <p>
                    Recientemente he entrado en el mundo de la programacion con python enfocado en las áreas de
                    desarrollo Web y Análisis de datos. Esa web la he contruido desde cero usando Python y Flask.
                </p>
            </div>
            <div class="right padded">
                <h1>Podemos converar lo que quieras!</h1>
                <p>Solo enviame un correo <a href="#contacto" class="orange">pinchando aqui</a></p>
            </div>
        </div>
    </div>
</div>