<div class="center white-bg">
    <div class="conten">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Otros conocimientos</h1>
                <h3>Diseño CAD</h3>
                <ul> 
                    <li>Diseño, armado y ensamblaje de piezas 3D.</li>
                    <li>Diseño de planos 2D (AutoCAD)</li>
                    <li>Interpretación de diagramas eléctricas</li>
                </ul>
            </div>
            <div class="right padded">
                <h1>Aprendiendo</h1>
                <ul>
                    <li>Pandas</li>
                    <li>JavaScript</li>
                    <li>React</li>
                </ul>
            </div>
        </div>
    </div>
</div>